<div class="bottom-bar-inner">
    <div class="container">
      <div class="row hello">
        <div class="col-md-6 sidebar text-left">
          <aside
            id="text-3"
            class="copyright margin-top-10 widget widget_text"
          >
            <div class="textwidget">
              <div><span>© Copyright 2015. Powered by WordPress.</span></div>
              <div><span>Theme made by G5Theme</span></div>
            </div>
          </aside>
        </div>
        <div class="col-md-6 sidebar text-right">
          <aside
            id="handmade-payment-gate-2"
            class="widget widget-payment-gate"
          >
            <ul class="payment-gate">
              <li class="any-payment">
                <a
                  target="_blank"
                  href="http://www.mastercard.com"
                  title="Master card"
                >
                  <img
                    src="https://themes.g5plus.net/handmade/wp-content/uploads/2015/10/master_card.jpg"
                    alt="Master card"
                  />
                </a>
              </li>
              <li class="any-payment">
                <a target="_blank" href="http://www.visa.com" title="Visa">
                  <img
                    src="https://themes.g5plus.net/handmade/wp-content/uploads/2015/10/visa.jpg"
                    alt="Visa"
                  />
                </a>
              </li>
              <li class="any-payment">
                <a
                  target="_blank"
                  href="https://www.paypal.com"
                  title="Paypal"
                >
                  <img
                    src="https://themes.g5plus.net/handmade/wp-content/uploads/2015/10/paypal.jpg"
                    alt="Paypal"
                  />
                </a>
              </li>
              <li class="any-payment">
                <a
                  target="_blank"
                  href="https://www.americanexpress.com/"
                  title="American Express"
                >
                  <img
                    src="https://themes.g5plus.net/handmade/wp-content/uploads/2015/10/american_express.jpg"
                    alt="American Express"
                  />
                </a>
              </li>
              <li class="any-payment">
                <a
                  target="_blank"
                  href="https://www.westernunion.com"
                  title="Weston Union"
                >
                  <img
                    src="https://themes.g5plus.net/handmade/wp-content/uploads/2015/10/weston_union.jpg"
                    alt="Weston Union"
                  />
                </a>
              </li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>