<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- link file index.css  -->
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <title>Document</title>
</head>

<body>
  <!-- header -->
  <%- include('header.ejs') %>
  
  <!-- body -->

  <div class="product-item-inner">
    <div class="container">
      <!-- card-lmr -->
      <div class="row card-lmr">
        <div class="col-md-4 col-lg-4">
          <div class="card card-left">
            <div class="card-body card-left-body">
              <p class="card-title card-left-title">
                What item do your favorite brands
              </p>
              <a href="#" class="card-link card-left-link">
                Browse Favorite
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="card card-mid">
            <div class="card-body card-mid-body">
              <p class="card-title card-mid-title">handmade soas class</p>
              <a href="#" class="card-link card-mid-link">23 sept</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="card card-right">
            <div class="card-body card-right-body">
              <p class="card-title card-right-title">
                Happy Mother's day
                <br />
                Giftcards
              </p>
              <a href="#" class="card-link card-right-link">
                Browse Favorite
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row new-arrivals">
          <div class="nav nav-product-text col-lg-6">
            <span>New Arrivals</span>
          </div>
          <div class="nav col-lg-6 d-flex flex-row-reverse">
            <li class="nav-item">
              <a class="nav-link nav-link-product" href="#">Birthday Gifts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-product" href="#">Personal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-product" href="#">Special Goods</a>
            </li>
          </div>
        </div>
      </div>
      <!--  -->
      <hr class="hr-product" />

      <!-- product detail -->
      <div class="container-fluid">
        <div class="container product_list-top">
          <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
              <div class="card card-product">
                <div class="card-product-image">
                  <a href="product-detail"> <img src="./image/product-18.jpg"
                    class="card-img-top" alt="Product" /></a>
                  <div class="card-body card-body-product">
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="Compare" class="fas fa-exchange-alt"></i>
                    </span>
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip"  title="Wishlist" class="fas fa-heart"></i>
                    </span>
                    <span class="border border-product"> <a href="product-detail">
                      <i data-bs-toggle="tooltip" title="Quick View" class="fas fa-eye"></i>
                    </a>
                    </span>
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="View products" class="fas fa-shopping-cart"></i>
                    </span>
                  </div>
                </div>

                <div class="card-product-content">
                  <a href="product-detail" class="card-title card-product-title">
                    Birthday Grouped
                  </a>
                  <p class="card-text card-product-text">$100.00</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
              <div class="card card-product">
                <div class="card-product-image">
                  <a href="product-detail"> <img src="./image/product-04-300x300.jpg"
                    class="card-img-top" alt="Product" /></a>
                  <div class="card-body card-body-product">
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="Compare" class="fas fa-exchange-alt"></i>
                    </span>
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="Wishlist" class="fas fa-heart"></i>
                    </span>
                    <span class="border border-product"> <a href="product-detail">
                      
                    </a>
                      <i data-bs-toggle="tooltip" title="Quick view" class="fas fa-eye"></i>
                    </span>
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="View products" class="fas fa-shopping-cart"></i>
                    </span>
                  </div>
                </div>

                <div class="card-product-content">
                  <a href="product-detail" class="card-title card-product-title">
                    Birthday Grouped
                  </a>
                  <p class="card-text card-product-text">$100.00</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
              <div class="card card-product">
                <div class="card-product-image">
                  <a href="product-detail"> <a href="product-detail"> <img src="./image/product-06-300x300.jpg"
                    class="card-img-top" alt="Product" /></a></a>
                  <div class="card-body card-body-product">
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="Compare" class="fas fa-exchange-alt"></i>
                    </span>
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="Wishlist" class="fas fa-heart"></i>
                    </span>
                    <span class="border border-product"> <a href="product-detail">
                      
                    </a>
                      <i data-bs-toggle="tooltip" title="Quick view" class="fas fa-eye"></i>
                    </span>
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="View products" class="fas fa-shopping-cart"></i>
                    </span>
                  </div>
                </div>

                <div class="card-product-content">
                  <a href="product-detail" class="card-title card-product-title">
                    Birthday Grouped
                  </a>
                  <p class="card-text card-product-text">$100.00</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
              <div class="card card-product">
                <div class="card-product-image">
                  <a href="product-detail"> <img src="./image/product-08-300x300.jpg"
                    class="card-img-top" alt="Product" /></a>
                  <div class="card-body card-body-product">
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="Compare" class="fas fa-exchange-alt"></i>
                    </span>
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="Wishlist" class="fas fa-heart"></i>
                    </span>
                    <span class="border border-product"> <a href="product-detail">
                      
                    </a>
                      <i data-bs-toggle="tooltip" title="Quick view" class="fas fa-eye"></i>
                    </span>
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="View products" class="fas fa-shopping-cart"></i>
                    </span>
                  </div>
                </div>

                <div class="card-product-content">
                  <a href="product-detail" class="card-title card-product-title">
                    Birthday Grouped
                  </a>
                  <p class="card-text card-product-text">$100.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container product_list-bot">
          <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6 col-6 col-6">
              <div class="card card-product">
                <div class="card-product-image">
                  <a href="product-detail"> <img src="./image/product-12-300x300.jpg"
                    class="card-img-top" alt="Product" /></a>
                  <div class="card-body card-body-product">
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="Compare" class="fas fa-exchange-alt"></i>
                    </span>
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="Wishlist" class="fas fa-heart"></i>
                    </span>
                    <span class="border border-product"> <a href="product-detail">
                      
                    </a>
                      <i data-bs-toggle="tooltip" title="Quick view" class="fas fa-eye"></i>
                    </span>
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="View products" class="fas fa-shopping-cart"></i>
                    </span>
                  </div>
                </div>

                <div class="card-product-content">
                  <a href="product-detail" class="card-title card-product-title">
                    Birthday Grouped
                  </a>
                  <p class="card-text card-product-text">$100.00</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
              <div class="card card-product">
                <div class="card-product-image">
                  <a href="product-detail"> <img src="./image/product-12-300x300.jpg"
                    class="card-img-top" alt="Product" /></a>
                  <div class="card-body card-body-product">
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="Compare" class="fas fa-exchange-alt"></i>
                    </span>
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="Wishlist" class="fas fa-heart"></i>
                    </span>
                    <span class="border border-product"> <a href="product-detail">
                      
                    </a>
                      <i data-bs-toggle="tooltip" title="Quick view" class="fas fa-eye"></i>
                    </span>
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="View products" class="fas fa-shopping-cart"></i>
                    </span>
                  </div>
                </div>

                <div class="card-product-content">
                  <a href="product-detail" class="card-title card-product-title">
                    Birthday Grouped
                  </a>
                  <p class="card-text card-product-text">$100.00</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
              <div class="card card-product">
                <div class="card-product-image">
                  <a href="product-detail"> <img src="./image/product-14-300x300.jpg"
                    class="card-img-top" alt="Product" /></a>
                  <div class="card-body card-body-product">
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="Compare" class="fas fa-exchange-alt"></i>
                    </span>
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="Wishlist" class="fas fa-heart"></i>
                    </span>
                    <span class="border border-product"> <a href="product-detail">
                      
                    </a>
                      <i data-bs-toggle="tooltip" title="Quick view" class="fas fa-eye"></i>
                    </span>
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="View products" class="fas fa-shopping-cart"></i>
                    </span>
                  </div>
                </div>

                <div class="card-product-content">
                  <a href="product-detail" class="card-title card-product-title">
                    Birthday Grouped
                  </a>
                  <p class="card-text card-product-text">$100.00</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
              <div class="card card-product">
                <div class="card-product-image">
                  <a href="product-detail"> <img src="./image/product-14-300x300.jpg"
                    class="card-img-top" alt="Product" /></a>
                  <div class="card-body card-body-product">
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="Compare" class="fas fa-exchange-alt"></i>
                    </span>
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="Wishlist" class="fas fa-heart"></i>
                    </span>
                    <span class="border border-product"> <a href="product-detail">
                      
                    </a>
                      <i data-bs-toggle="tooltip" title="Quick view" class="fas fa-eye"></i>
                    </span>
                    <span class="border border-product">
                      <i data-bs-toggle="tooltip" title="View products" class="fas fa-shopping-cart"></i>
                    </span>
                  </div>
                </div>

                <div class="card-product-content">
                  <a href="product-detail" class="card-title card-product-title">
                    Birthday Grouped
                  </a>
                  <p class="card-text card-product-text">$100.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- pagination -->
        <nav aria-label="page navigation">
          <ul class="pagination">
            <li class="page-item previous-pagination"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item one-pagination"><a class="page-link" href="#">1</a></li>
            <li class="page-item two-pagination"><a class="page-link" href="#">2</a></li>
            <li class="page-item three-pagination"><a class="page-link" href="#">3</a></li>
            <li class="page-item next-pagination"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      <!--  -->
        
      </div>

      <div class="image-body">
        <a href="product-detail">
          <img src="./image/banner-home-21.jpg" alt="nothing" />
        </a>
        <div class="overley-box-second">
          <p class="overley-text">
            Shop Featured Collection
          </p>
          <a href="product-detail" class="overley-link">
            nemo enim ipsam voluptatem
            <br />
            quia voluptas sit aspernatur
          </a>
        </div>
      </div>

      <!--  -->
      <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="slider">
              <div class="col-lg-3">
                <a class="slider-image" href="#">
                  <img src="./image/our-team-1-123x123.jpg"
                    alt="Avatar Logo" style="width: 150px;" class="rounded-pill" />
                </a>
              </div>
              <div class="col-lg-9 slider_content d-flex flex-column">
                <div class="slider_content-name">
                  <span class="slider-text">
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Aliquam ducimus dolore, id alias aut impedit esse iure
                    quasi nam"
                  </span>
                </div>
                <div class="slider_content-name d-flex justify-content-start">
                  <h3 class="p-color">David Miler</h3>
                  <span class="s-color">Graphic Designer</span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="slider">
              <div class="col-lg-3">
                <a class="slider-image" href="#">
                  <img src="./image/our-team-1-123x123.jpg"
                    alt="Avatar Logo" style="width: 150px;" class="rounded-pill" />
                </a>
              </div>
              <div class="col-lg-9 slider_content d-flex flex-column">
                <div class="slider_content-name">
                  <span class="slider-text">
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Aliquam ducimus dolore, id alias aut impedit esse iure
                    quasi nam"
                  </span>
                </div>
                <div class="slider_content-name d-flex justify-content-start">
                  <h3 class="p-color">David Miler</h3>
                  <span class="s-color">Graphic Designer</span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="slider">
              <div class="col-lg-3">
                <a class="slider-image" href="#">
                  <img src="./image/our-team-1-123x123.jpg"
                    alt="Avatar Logo" style="width: 150px;" class="rounded-pill" />
                </a>
              </div>
              <div class="col-lg-9 slider_content d-flex flex-column">
                <div class="slider_content-name">
                  <span class="slider-text">
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Aliquam ducimus dolore, id alias aut impedit esse iure
                    quasi nam"
                  </span>
                </div>
                <div class="slider_content-name d-flex justify-content-start">
                  <h3 class="p-color">David Miler</h3>
                  <span class="s-color">Graphic Designer</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev btn-slide p-color" type="button" data-bs-target="#demo"
          data-bs-slide="prev"></button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next"></button>
      </div>
      <!-- Slider -->

      <!--  -->
      <hr style="color: #b1d1c9;" />
      <!-- From our blog -->

      <div class="container our-blog">
        <div class="handmade-post-item">
          <div class="handmade-post-image">
            <div class="entry-thumbnail">
              <a href="https://themes.g5plus.net/handmade/here-are-many-variations-of-passages/"
                title="Here Are Many Variations Of Passages" class="entry-thumbnail_overlay">
                <img src="https://themes.g5plus.net/handmade/wp-content/uploads/2015/08/news-02-380x235.jpg"
                  alt="Here Are Many Variations Of Passages" />
              </a>
            </div>
          </div>
          <div class="handmade-post-content">
            <h6 class="entry-item">
              <a href="https://themes.g5plus.net/handmade/here-are-many-variations-of-passages/" rel="bookmark"
                title="Here Are Many Variations Of Passages">
                Here Are Many Variations Of Passages
              </a>
            </h6>
            <div class="post-entry-meta entry-item">
              <span class="handmade-post-date">August 2, 2015</span>
              |
              <span>
                <a class="handmade-post-author" href="https://themes.g5plus.net/handmade/author/g5plusacc/">
                  g5plusacc
                </a>
              </span>
              <div class="entry-item">
                <span>
                  In a professional context it often happens that private or
                  corporate clients corder a publication to be made and
                  presented with the actual ...
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="handmade-post-item">
          <div class="handmade-post-image">
            <div class="entry-thumbnail">
              <a href="https://themes.g5plus.net/handmade/here-are-many-variations-of-passages/"
                title="Here Are Many Variations Of Passages" class="entry-thumbnail_overlay">
                <img src="./image/news-02-380x235.jpg"
                  alt="Here Are Many Variations Of Passages" />
              </a>
            </div>
          </div>
          <div class="handmade-post-content">
            <h6 class="entry-item">
              <a href="https://themes.g5plus.net/handmade/here-are-many-variations-of-passages/" rel="bookmark"
                title="Here Are Many Variations Of Passages">
                Here Are Many Variations Of Passages
              </a>
            </h6>
            <div class="post-entry-meta entry-item">
              <span class="handmade-post-date">August 2, 2015</span>
              |
              <span>
                <a class="handmade-post-author" href="https://themes.g5plus.net/handmade/author/g5plusacc/">
                  g5plusacc
                </a>
              </span>
              <div class="entry-item">
                <span>
                  In a professional context it often happens that private or
                  corporate clients corder a publication to be made and
                  presented with the actual ...
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="handmade-post-item">
          <div class="handmade-post-image">
            <div class="entry-thumbnail">
              <a href="https://themes.g5plus.net/handmade/here-are-many-variations-of-passages/"
                title="Here Are Many Variations Of Passages" class="entry-thumbnail_overlay" ;>
                <img src="./image/news-02-380x235.jpg"
                  alt="Here Are Many Variations Of Passages" />
              </a>
            </div>
          </div>
          <div class="handmade-post-content">
            <h6 class="entry-item">
              <a href="https://themes.g5plus.net/handmade/here-are-many-variations-of-passages/" rel="bookmark"
                title="Here Are Many Variations Of Passages">
                Here Are Many Variations Of Passages
              </a>
            </h6>
            <div class="post-entry-meta entry-item">
              <span class="handmade-post-date">August 2, 2015</span>
              |
              <span>
                <a class="handmade-post-author" href="https://themes.g5plus.net/handmade/author/g5plusacc/">
                  g5plusacc
                </a>
              </span>
              <div class="entry-item">
                <span>
                  In a professional context it often happens that private or
                  corporate clients corder a publication to be made and
                  presented with the actual ...
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->

      <!-- Map - Scroll up -->
      <div class="scroll-map row ms-auto">
        <div class="map col-lg-6 bg-light d-flex flex-row-reverse">
          <nav class="navbar navbar-light bg-light">
            <i class="fa-thin fa-circle-up map-icon"></i>
            <button data-bs-toggle="collapse" data-bs-target="#demo" class="navbar-brand map-title" href="#">
              SEE MAP
            </button>
            <div id="demo" class="collapse"></div>
          </nav>
        </div>
        <div class="scroll-up col-lg-6 bg-light d-flex flex-row">
          <nav class="navbar navbar-light bg-light">
            <i class="fa-thin fa-circle-up scroll-icon"></i>
            <button onclick="scrollWin(0,-100000)" class="navbar-brand scroll-title" href="#">
              SCROLL UP
            </button>
          </nav>
        </div>
        <div id="demo" class="collapse maps">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4832742161134!2d106.72538591458903!3d10.774249592322997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175256f6c868a55%3A0xbb1be3d7b7a4abfd!2sGolden%20Owl%20Consulting!5e0!3m2!1svi!2s!4v1663750927304!5m2!1svi!2s"
            width="600" height="450" style="border: 0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <!--  -->

      <!--  -->
      <div class="container">
        <div class="row hello">
          <div class="sidebar footer-sidebar col-md-3 col-sm-6">
            <aside id="wolverine-footer-logo-2" class="widget widget-footer-logo">
              <div class="footer-logo">
                <a href="https://themes.g5plus.net/handmade">
                  <img class="footer-logo-img"
                    src="./image/logo.png" alt="Handmade" />
                </a>
                <div class="sub-description">
                  <span>
                    Letterpress, gold foil stamping, and more. Quality,
                    sustainable materials like thick 100% PCW paper and
                    veg-based inks.
                  </span>
                </div>
              </div>
            </aside>
          </div>

          <div class="sidebar footer-sidebar col-md-3">
            <aside id="nav_menu-3" class="widget widget_nav_menu">
              <h4 class="widget-title">
                <span class="title-nav_menu">Information</span>
              </h4>
              <div class="menu-footer-information-container">
                <ul id="menu-footer-information" class="menu">
                  <li id="menu-item-2430"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2430">
                    <a href="#">About Us</a>
                  </li>
                  <li id="menu-item-2431"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2431">
                    <a href="#">Delivery Information</a>
                  </li>
                  <li id="menu-item-2432"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2432">
                    <a href="#">Privacy policy</a>
                  </li>
                  <li id="menu-item-2433"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2433">
                    <a href="#">Terms &amp; Conditions</a>
                  </li>
                  <li id="menu-item-2434"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2434">
                    <a href="#">Contact Us</a>
                  </li>
                </ul>
              </div>
            </aside>
          </div>

          <div class="sidebar footer-sidebar col-md-3">
            <aside id="nav_menu-4" class="widget widget_nav_menu">
              <h4 class="widget-title">
                <span class="title-nav_menu">Extras</span>
              </h4>
              <div class="menu-footer-extras-container">
                <ul id="menu-footer-extras" class="menu">
                  <li id="menu-item-2435"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2435">
                    <a href="#">Brands</a>
                  </li>
                  <li id="menu-item-2436"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2436">
                    <a href="#">Gift Vouchers</a>
                  </li>
                  <li id="menu-item-2437"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2437">
                    <a href="#">Affiliates</a>
                  </li>
                  <li id="menu-item-2438"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2438">
                    <a href="#">Specials</a>
                  </li>
                  <li id="menu-item-2439"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2439">
                    <a href="#">Site Map</a>
                  </li>
                </ul>
              </div>
            </aside>
          </div>

          <div class="sidebar footer-sidebar col-md-3">
            <aside id="text-2" class="widget-title-s-font widget widget_text">
              <h4 class="widget-title">
                <span class="title-nav_menu">Contact us</span>
              </h4>
              <div class="textwidget">
                <ul class="footer-contact-us">
                  <li class="footer-contact-us--child">
                    <i class="fa fa-map-marker icon"></i>
                    <span class="contact-us-text">
                      Great Store London Oxford
                    </span>
                  </li>
                  <li class="footer-contact-us--child">
                    <i class="fa fa-envelope icon"></i>
                    <span class="contact-us-text">
                      emailgreatstore@gmail.com
                    </span>
                  </li>
                  <li class="footer-contact-us--child">
                    <i class="fa fa-phone icon"></i>
                    <span class="contact-us-text">(+92) 3456 7890</span>
                  </li>
                </ul>
              </div>
            </aside>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
  </div>

  <!-- footer  -->
  <hr />
  <%- include('footer.ejs') %>
</body>

<script>
  var tooltipTriggerList = [].slice.call(
    document.querySelectorAll('[data-bs-toggle="tooltip"]'),
  )
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })

  function scrollWin(x, y) {
    window.scrollBy(x, y)
  }
</script>

<script>
  function myMap() {
    var mapProp = {
      center: new google.maps.LatLng(51.508742, -0.12085),
      zoom: 5,
    }
    var map = new google.maps.Map(
      document.getElementById('googleMap'),
      mapProp,
    )
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>

<!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>
  <script src="/js/api.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>

<!--  -->

</html>